<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlaceDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67D65E0E1E7C5A4900372A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D65E221E7C5A4900372A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D65E2D1E7C5A4900372A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
